.product {
  display: flex;
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 10px 15px;
  height: 3em;
  gap: em(10px);

  > .image-wrapper {
    height: 100%;
    min-width: 80px;

    > .image {
      height: 100%;
    }
  }

  > .name-and-price {
    height: 100%;
    flex: auto;
    display: grid;
    gap: 6px;

    > .name {
      font-size: 1.1em;
    }

    > .price {
      font-size: 0.95em;
    }
  }

  > .quantity-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: em(10px);
    margin: auto 0;

    > .change {
      display: grid;
      font-size: 0.8em;
      background: #fff;
      border: 1px solid #b9b9b9;
      padding: em(5px) em(10px);

      &.minus {
        color: #2f2f2f;
      }

      &.plus {
        color: rgb(14, 99, 14);
      }
    }

    > .quantity {
      text-align: center;
      font-size: 1.05em;
    }
  }
}
